<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendamento</title>
    <!-- Inclua seu CSS aqui -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <!-- Exibir mensagens flash -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="container mt-4">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <!-- Formulário de agendamento -->
    <form action="/agendar" method="POST" class="container mt-5">
        <h1>Agendamento na Barbearia</h1>
        <div class="mb-3">
            <label for="nome" class="form-label">Nome:</label>
            <input type="text" class="form-control" id="nome" name="nome" required>
        </div>
        <div class="mb-3">
            <label for="telefone" class="form-label">Telefone:</label>
            <input type="tel" class="form-control" id="telefone" name="telefone" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">E-mail:</label>
            <input type="email" class="form-control" id="email" name="email">
        </div>
        <div class="mb-3">
            <label for="data" class="form-label">Data:</label>
            <input type="date" class="form-control" id="data" name="data" required>
        </div>
        <div class="mb-3">
            <label for="horario" class="form-label">Horário:</label>
            <input type="time" class="form-control" id="horario" name="horario" required>
        </div>
        <div class="mb-3">
            <label for="servico" class="form-label">Serviço:</label>
            <select class="form-select" id="servico" name="servico" required>
                <option value="corte">Corte de cabelo</option>
                <option value="barba">Barba</option>
                <option value="ambos">Corte de cabelo e barba</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Agendar</button>
    
    </form>

    <!-- Scripts do Bootstrap -->
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

</body>
</html>
